@model IEnumerable<GundamShop.Models.KHACHHANG>

@{
    ViewBag.Title = "Danh Sách User";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Họ và Tên
        </th>
        <th>
            Địa Chỉ
        </th>
        <th>
           SĐT
        </th>
        <th>
            Tên Đăng Nhập
        </th>
        <th>
            Mật Khẩu
        </th>
        <th>
            Ngày Sinh
        </th>
        <th>
           Giới Tính
        </th>
        <th>
            Email
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoaiKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DropDownListFor(modelItem => item.GioiTinh, new SelectList(new List<Object>{
                           new { value = false , text = "Nữ"  },
                           new { value = true , text = "Nam" }
                        },
                      "value",
                      "text",
                       item.GioiTinh))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
    }

</table>
