<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")

    <!-- Google Font -->
    <!--<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">-->
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    @Html.Action("Header", "Navigation")
    @Html.Action("Breadcrumb", "Navigation")
    @RenderBody()
    @Html.Action("Footer", "Navigation")

    <!-- Js Plugins -->
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.js"></script>
    <script src="~/Content/js/mixitup.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/main.js"></script>

    @RenderSection("scripts", required: false)

</body>

</html>