@model GundamShop.Models.GUNDAM

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h4>Bạn có chắc chắn muốn xóa bỏ sản phẩm này không?</h4>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên Gundam
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenGundam)
            </dd>

            <dt>
                Đơn Vị Tính
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DonViTinh)
            </dd>

            <dt>
                Đơn Giá
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DonGia)
            </dd>

            <dt>
                Hình Minh Họa
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HinhMinhHoa)
            </dd>

            <dt>
               Cấp Độ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaCD)
            </dd>

            <dt>
                Ngày Sản Xuất
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgaySanXuat)
            </dd>

            <dt>
               Số Lượng Bán
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoLuongBan)
            </dd>

            <dt>
               Số Lượt Xem
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoLanXem)
            </dd>

            <dt>
                Còn Lại
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoLuongConLai)
            </dd>

        </dl>

        @using (Html.BeginForm("Delete", "Storage", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Danh Sách Sản Phẩm", "List Storage")
            </div>
        }
    </div>
</body>
</html>
