@model IEnumerable<GundamShop.Models.GUNDAM>
@using GundamShop.Models
@{
    GUNDAM topGD = Model.ElementAt(new Random().Next(0, Model.Count()));
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-6">
            <div class="section-title">
                <h2>GUNDAMME</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="hero__item set_bg" style="background-image: url('/Storage/HinhMinhHoa/Gundam/@topGD.HinhMinhHoa'); background-repeat: no-repeat; background-size: cover; background-position: top center; ">

            </div>
        </div>
        <div class="col-lg-8 col-md-6 align-self-center">
            <div class="hero__text">
                @foreach (CAPDO capDo in ViewBag.ListCapDo)
                {
                    if (capDo.MaCD == topGD.MaCD)
                    {
                        <span>
                            @capDo.TenCapDo
                        </span>
                    }
                }

                <h2>@topGD.TenGundam</h2>
                <p>@MoneyHelper.FormatMoney(topGD.DonGia)</p>
                <a href="@Url.Action("FullShopContent")" class="primary-btn">MUA NGAY</a>
            </div>
        </div>
    </div>
</div>


<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Sản Phẩm Nổi Bật</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">Tất Cả</li>
                        @foreach (CAPDO capDo in ViewBag.ListCapDo)
                        {
                            <li data-filter=".@String.Concat(capDo.TenCapDo.Where(c => !Char.IsWhiteSpace(c)))">@capDo.TenCapDo</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            @foreach (CAPDO capDo in ViewBag.ListCapDo)
            {
                <div class="col-lg-12 col-md-12 col-sm-12 mix @String.Concat(capDo.TenCapDo.Where(c => !Char.IsWhiteSpace(c)))">
                    <div class="row">
                        @foreach (GUNDAM gd in Model)
                        {
                            if (gd.MaCD == capDo.MaCD)
                            {
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg">
                                            <a href="@Url.Action("Details", new {id=gd.MaGundam})">
                                                <img src="~/Storage/HinhMinhHoa/Gundam/@gd.HinhMinhHoa" />
                                            </a>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="@Url.Action("AddCart", "Cart", new { maGundam = gd.MaGundam, rqUrl = Request.Url.ToString() })"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__item__text">
                                            <h6><a href="@Url.Action("Details", new {id=gd.MaGundam})">@gd.TenGundam</a></h6>
                                            <h5>@MoneyHelper.FormatMoney(gd.DonGia)</h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>

                </div>
            }
        </div>
    </div>
</section>
<!-- Featured Section End -->
