@model PagedList.IPagedList<GundamShop.Models.GUNDAM>
@using PagedList.Mvc
@{
    ViewBag.Title = "Cửa Hàng";
    ViewData["Title"] = "Cửa Hàng";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>TẤT CẢ DANH MỤC</h4>
                        @Html.Action("ListCapDo", "GundamShop")
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sắp Xếp Bằng</span>
                                <select>
                                    <option value="0">Mặc định</option>
                                    <option value="1">Giá</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>@ViewBag.TotalProducts</span> Sản phẩm tìm được</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg">
                                    <a href="@Url.Action("Details", new {id=item.MaGundam})">
                                        <img src="~/Storage/HinhMinhHoa/Gundam/@item.HinhMinhHoa" />
                                    </a>
                                    <ul class="product__item__pic__hover">
                                        <li><a href="@Url.Action("AddCart", "Cart", new { maGundam = item.MaGundam, rqUrl = Request.Url.ToString() })"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="@Url.Action("Details", new {id=item.MaGundam})">@item.TenGundam</a></h6>
                                    <h5>@MoneyHelper.FormatMoney(item.DonGia)</h5>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                @Html.PagedListPager(Model, page => Url.Action("FullShopContent", new { page })
           , new PagedListRenderOptions()
           {
               LiElementClasses = new List<string> { "product__pagination" }
           })
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
